name: CI Pipeline - Student GPA Calculator

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-lint:
    runs-on: ubuntu-latest

    steps:
      # Stage 1: Source & Environment Setup [cite: 56]
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      # Stage 2: Linting (Code Quality Check)
      - name: Run Checkstyle (Linting)
        run: mvn checkstyle:check

      # Stage 5: Packaging (Skip Tests for now)
      # We are jumping to packaging to ensure the code compiles.
      # We will insert Security/Testing stages in between later.
      - name: Build with Maven
        run: mvn clean package -DskipTests